@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  font-family: "Quicksand";
}
.error {
  font-weight: bold;
}
.card-body {
  padding: 0 !important;
}
#table {
  display: none;
}
#card {
  display: none;
}
